.battle-field {
  display: flex;
  flex-wrap: wrap;
  background-color: #57585b;
  width: 100%;
  aspect-ratio: 1/1;
  border: solid 1px lightblue;
}

.battle-field-container {
  position: relative;
  width: 40%;
}